<div class="col-md-12">
  <div class="portlet box yellow">
    <div class="portlet-title">
      <div class="caption">
        Thông tin khách hàng
      </div>
      <div class="tools">
        <a href="javascript:;" class="collapse">
        </a>
      </div>
    </div>
    <div class="portlet-body form">
      <form [formGroup]="formThongTinKhachHang" class="form-horizontal">
        <div class="form-body">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label class="control-label col-md-4">Khách hàng</label>
                <div class="col-md-8">
                  <select name="foo" class="select2me form-control">
                    <option value="1">4476 - CÔNG TY XÂY DỰNG LÊ PHAN (TNHH)
                    </option>
                  </select>
                  <span class="help-block"></span>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="control-label col-md-4">Hạn mức công nợ</label>
                <div class="col-md-8">
                  <input type="text" class="form-control" value="291.612.200" readonly>
                  <span class="help-block"></span>
                </div>
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <label class="control-label col-md-2">Chi nhánh</label>
                <div class="col-md-4">
                  <select name="foo" class="select2me form-control">
                    <option value="1">12577 - CÔNG TY XÂY DỰNG LÊ PHAN (TNHH) -
                      CHI NHÁNH QUẬN 12</option>
                  </select>
                  <span class="help-block"></span>
                </div>
              </div>
            </div>

          </div>
        </div>
      </form>
    </div>
  </div>
</div>
