/* here you can put your own css to customize and override the theme */

/***
Rounded Portlets
***/
/*
.portlet {
	border-radius: 4px !important;
}

.portlet .portlet-title {
	border-radius: 4px 4px 0px 0px !important;
}

.portlet .portlet-body,
.portlet .portlet-body .form-actions  {
	border-radius: 0px 0px 4px 4px !important;
}
*/

.font-brown-madison,
.font-brown-sharp {
    color: #c49d6b !important;
}

.dropdown-menu .divider {
    margin: 0;
}

.dropdown-menu > li > a > .badge {
    margin-top: -1px !important;
    right: 8px !important;
}

.page-header.navbar .page-actions .btn-group .btn {
    padding-left: 10px;
    padding-right: 10px;
}

.modal-icon i{
    font-size: 6em !important;
    margin-top: 40px;
}

.modal-icon--success i {
    color: green;
}

.modal-icon--confirm i {
    color: red;
}

.overflow-hidden {
    overflow: hidden;
}